<div class="about">
	<p>Are you a new couple expecting a child? Or are you looking to move your family to a better neighborhood? Familiarize was created for families looking for safe and friendly environments to raise their children in.  </p>
</div>