  <div id="logo">
        <a href='/' class="logo"><img src="/img/COGS121Logo.png" style="float: left; " alt="logo" name="logo" id="logo"></a>
    </div>
   <div id='cssmenu'>
      <ul>
         <li class='active'><a href='/about'><span>About</span></a></li>
         <li class='last'><a href='/contact'><span>Contact</span></a></li>
      </ul>
    </div>

<div class="about" style="margin-left: 25px; margin-right: 25px;">
	<h2> About Familiarize</h2>
	<div class="blurb">
		
		<div class="blurb2">
		<p>Are you a new couple expecting a child? Or are you looking to move your family to a better neighborhood? Familiarize was created for families looking for safe and friendly environments in San Diego to raise their children in. <b>Select a county </b>on the map to view detailed information on the righthand side about levels of education, poverty, and employment. You can <b>compare</b> how the levels compare among each county by selecting multiple counties on the map. The bar charts will show the <b>raw numbers in population </b>while the pie charts will show <b>percentages.</b> 	
			</p>
		</div>
		<img src="\img\family.jpg" alt="Family">
	</div>
</div>