 <div id='cssmenu'>
      <ul>
         <li><a href='/'><span>Familiarize</span></a></li>
         <li class='active'><a href='/about'><span>About</span></a></li>
         <li class='last'><a href='/contact'><span>Contact</span></a></li>
      </ul>
    </div>

<div class="about">
	<h2> About Familiarize</h2>
	<div class="blurb">
			<img src="\img\family.jpg" alt="Family">
		<p>Are you a new couple expecting a child? Or are you looking to move your family to a better neighborhood? Familiarize was created for families looking for safe and friendly environments in San Diego to raise their children in. Select a county on the map to view detailed information on the righthand side about levels of education, poverty, marriage, smoking prevalance, housing costs. You can compare how the levels compare among each county by selecting multiple counties on the map. The bar charts will show the raw numbers in population while the pie charts will show percentages. </p>
		
	</div>
</div>