<!--<div id='cssmenu'>
<ul>
   <li class='active'><a href='#'><span>Famillearize</span></a></li>
   <li><a href='#'><span>About</span></a></li>
   <li class='last'><a href='#'><span>Contact</span></a></li>
</ul>
</div>-->


<div class="fleft">
  <select id="cd-dropdown" class="cd-select">
            <option value="-1" selected>Pick a filter</option>
            <option value="1" class="icon-poverty">Poverty</option>
            <option value="2" class="icon-marriage">Marriage</option>
            <option value="3" class="icon-suicide">Suicide by Age</option>
            <option value="4" class="icon-smoking">Smoking Prevalance</option>
            <option value="5" class="icon-housing">Housing Cost</option>
            <option value="5" class="icon-education">Education</option>
  </select>
</div>
